<% include partials/_header %>


          <form action="/add" method="post">


  <div class="col-md-5 offset-md-3">
    <div class="card">
      <div class="card-body">
        <div>
          <input type="text" class="form-control" name="title" placeholder="Nombre">   
        </div>
        <br>
        <div>
          <input type="text" name="c1" class="form-control" placeholder="Direccion">
        </div>
        <br>
        <div>
          <input type="text" name="c2" class="form-control" placeholder="Municipio">
        </div>
        <br>
        <div>
          <input type="text" name="c3" class="form-control" placeholder="Departamento">
        </div>
        <br>
        <div>
          <input type="text" name="c4" class="form-control" placeholder="IVA">
        </div>
        <br>
        <div>
          <input type="text" name="c5" class="form-control" placeholder="GIRO">
        </div>
        <br>
        <div>
          <input type="text" name="c6" class="form-control" placeholder="Condiciones De Pago">
        </div>
       
   
</form>
      <br>
      <button class="btn btn-primary">
        Add
      </button>
     
    </div>
  </div>     
</div>



<style>
  
  @media print {
 body {
  
 }
}
  </style>













            
           







          </form>
          <br>
        </div>
      </div>
    </div>

    <button class="form-control" >
      <a href="/list" style="color: red";>View List</a>
    </button>
  

    </div>
  </div>

</div>

