<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Wordnet 5.4 Local Lite </title>
    <!-- BOOTSTRAP CDN -->
    <script
    src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
    crossorigin="anonymous"></script>

   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    
    <nav class = "navbar navbar-expand-lg navbar-dark bg-success">
        <a class="navbar-brand" href="#"> <font style = "vertical-align: heredar;"> <font style = "vertical-align: heredar;"> Wordnet Local MongoDB Invoice Only Lite</font> </ fuente> </a>
        <button class = "navbar-toggler" type = "button" data-toggle = "collapse" data-target = "# navbarColor01" aria-controls = "navbarColor01" aria-extended = "false" aria-label = "Navegación de palanca ">
          <span class = "navbar-toggler-icon"> </span>
        </button>
      
        <div class = "collapse navbar-collapse" id = "navbarColor01">
          <ul class = "navbar-nav mr-auto">
            <li class = "nav-item active">
              <a class="nav-link" href="#"> <font style = "vertical-align: heredar;"> <font style = "vertical-align: heredar;"> Inicio </font> </font> <span class = "sr-only"> <font style = "vertical-align: heredar;"> <font style = "vertical-align: heredar;"> (real) </font> </font> </ span > </a>
            </li>
            <li class = "nav-item">
              <a class="nav-link" href="https://docs.google.com/document/d/131lmF7gUR45_vbuzXlqMu8i9uBc1z_Xr_MN81zz1rIw/edit?usp=sharing" style="color: white;"> <font style = "vertical-align: heredar;"> <font style = "vertical-align: heredar;">Liciencia </font> </font> </a>
            </li>
            <li class = "nav-item">
              <a class="nav-link" href="https://docs.google.com/document/d/1wyhlNNWePVGDbstO9VRbOMzCOKuWLRFp2xZF3TO_WuA/edit?usp=sharing" style="color: white;"> <font style = "vertical-align: heredar;"> <font style = "vertical-align: heredar;"> Documentacion </font> </font> </a>
            </li>
            <li class = "nav-item">
              <a class="nav-link" href="#" style="color: white;"> <font style = "vertical-align: heredar;"> <font style = "vertical-align: heredar;"> Acerca de </font> </ font > </a>
            </li>
          </ul>
        
        </div>
      </nav>
  </head>
  <body>
